<%- include("partials/header.ejs") %>

<% if (locals.post) { %>

<div class="container-md form-field">

<aricle class="row g-3" action="/readPost/<%= post.postId %>" method="GET">

    <div class="col-md-12">
      <h2><%= post.postTitle %></h2>
    </div>
    <div class="col-md-12">
        <p><%= post.postBody %></p>
      </div>
      <div class="col-md-6">
        <p> <%= post.user %></p>
      </div>
    <div class="col-md-6">
    </div>
</article>
<div class="row">
    <div class="col-12">
        <a href="/"> <button class="btn btn-outline-secondary" >Back</button></a>
    </div>
</div>

  <% } else { %>
    <p>No posts yet!</p>
    <% } %>

</div>

<%- include("partials/footer.ejs") %>
