<%- include("partials/header.ejs") %>

<% if (locals.post) { %>

<div class="container-md form-field">
    <div class="row">
        <div class="col-12">
            <a href="/"> <button class="btn btn-outline-secondary" >Back</button></a>
        </div>
    </div>
<form class="row g-3" action="/update/<%= post.postId %>" method="POST">
    <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" name="inputName" placeholder= <%= post.user %> readonly>
      </div>
    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" name="inputEmail" placeholder= <%= post.email %> readonly>
    </div>
    <div class="col-md-12">
      <label for="inputTitle" class="form-label">Title</label>
      <input type="text" class="form-control" name="inputTitle" value="<%= post.postTitle %>">
    </div>
    <div class="col-md-12">
        <label for="inputPost" class="form-label">Post</label>
        <textarea class="form-control" name="inputPost" rows="10"><%= post.postBody %></textarea>
      </div>
      <div class="col-12">
        <button type="update" class="btn btn-primary">Update</button>
      </div>
  </form>

  <% } else { %>
    <p>No posts yet!</p>
    <% } %>

</div>

<%- include("partials/footer.ejs") %>
