<%- include("partials/header.ejs") %> 
<h1>You post has been submited.</h1>
<% if (locals.postNumber>1) { %>

<h2><%-postNumber%> <%-postTitle %></h2>
<p><%-postBody %></p>
<p><%-user %></p>

<% } %> <%- include("partials/footer.ejs") %>
